body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  overflow: auto;
  background-color: #50b2c0;
}

.auth {
  display: flex;
}

img {
  width: 100px;
  height: 100px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cell {
  margin: 20px;
  outline: 2px solid black;
}
.productname {
  white-space: nowrap;
}
