body {
  font-family: sans-serif;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
  align-items: center;
  overflow: auto;
  background-color: #50b2c0;
}

.auth {
  display: flex;
}

.prodbox {
  grid-column: 1;
  margin: 20px;
}

.prodimg {
  width: 100%;
  height: 100%;
}

.prodtext {
  margin: 20px;
}

.viewallcontainer {
  display: flex;
  width: 100%;
}

.viewallsidebar {
  display: block;
  width: calc(0.25 * (100vw - 44px));
  margin: 30px;
  min-width: 247px;
  max-width: 372px;
  border-right: 2px solid black;
}

.productview {
  display: block;
  width: calc(0.75 * (100vw - 44px));
  min-width: 247px;
}

.prod {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 2px solid black;
}

.singleprod {
  display: flex;
  width: 100%;
  height: 100%;
}
.prodname {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  outline: 2px solid black;
}

.homeprod {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-content: center;
}

.homecell {
  margin: 10px;
  outline: 5px solid black;
}

/* .navFont {
  color: #20131;
} */

/* Footer */

.container {
  flex: 1;
}

.footer {
  background-color: #faaa8d;
  line-height: 1.5;
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

/*  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  */

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer form {
  display: flex;
  flex-wrap: wrap;
}

.footer input[type='email'] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

.footer input[type='submit'] {
  background-color: #50b2c0;
  color: #feefdd;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}

.footer a {
  text-decoration: none;
  color: #201e1f;
}

.footer a:hover {
  text-decoration: underline;
  color: #feefdd;
}

.footer img {
  width: 5rem;
  height: 5rem;
}

.footer img:hover {
  filter: invert(1);
}

.footerTitle {
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
  font-weight: bold;
}

.footerColumn {
  padding: 1.25rem;
  min-width: 12.5rem;
}

.footerSocial {
  padding: 0 1.875rem 1.25rem;
  width: 100%;
}

.footerSocialList {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
  flex-wrap: wrap;
}

.footerSocialList li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.footerCopyright {
  padding: 0.9375rem 1.875rem;
  background-color: #201e1f;
  color: #feefdd;
  width: 100%;
}

.footerCopyrightList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.footerCopyrightList li {
  margin: 0.125rem 0.625rem;
}

/* one before the last child */
.footerCopyrightList li:nth-last-child(2) {
  flex: 1;
}

.logo {
  height: 10vh;
}

.cart {
  margin-top: 1rem;
}

.item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 2rem;
  border-bottom: #201e1f solid 2px;
  text-align: center;
}

.removefromcart {
  margin-bottom: 1rem;
}

.checkoutbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 2rem;
  text-align: center;
}
